In [24]:
import pandas as pd
#df = pd.read_csv(r"C:\Users\worka\OneDrive\Desktop\Github\python-common-book\machine learning\ids\ca 2\Book1.csv")
weather = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny'],
}
df = pd.DataFrame(weather)
print(df)
print(df.shape) #shows shape of entire dataframe
print(df.head) # gives first few rows
print(df.head(2)) # gives specified rows from top
print(df.tail(2)) # gives specified rows from bottom
print(df[2:5]) # prints from row number 2 to 5 
print(df.columns) # prints all your columns 
print(df.day) # specify the column name to only print that column 
print(df['day']) # specify the column name to only print that column

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
(6, 4)
<bound method NDFrame.head of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain
Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')
0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object
0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [26]:
type(df['event']) #  columns of type pandas series 
df[['event','day']] # print specific  columns

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [31]:
# operations 

df['temperature'].max()
df['temperature'].mean() # average
df['temperature'].std() # standard deviation
df.describe() # quck statistics about your data

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [37]:
df[df.temperature>=32]
df[df.temperature==df['temperature'].max()]
df['day'][df.temperature==df['temperature'].max()] # print day on which temp was max

1    1/2/2017
Name: day, dtype: object

In [46]:
df.index
print(df.columns)
print(df)

Index(['temperature', 'windspeed', 'event'], dtype='object')
          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [48]:

print(df)

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny